{
  :backend_url => "http://{{ hostname.stdout }}:8089",
  :frontend_url => "http://{{ hostname.stdout }}:8080",
  :solr_url => "http://{{ hostname.stdout }}:8090",
  :public_url => "http://{{ hostname.stdout }}:8081",
}
