{
  :frontend_url => "http://{{ hostname.stdout }}:{{ start_port.stdout }}",
  :public_url => "http://{{ hostname.stdout }}:{{ start_port.stdout|int + 1 }}",
  :backend_url => "http://{{ hostname.stdout }}:{{ start_port.stdout|int +2 }}",
  :solr_url => "http://{{ hostname.stdout }}:{{ start_port.stdout|int + 3 }}",
}
